.text-field-box {
    position: relative;
    margin: 2px auto;
    flex: auto;
    padding-right: 2px;
}

.button-box {
    float: right;
    padding-left: 2px;
}

.text-field-custom {
    width: 100%;
    border: 1px solid Silver;
    &:focus {
        outline: none;
        border: 1px solid darken($color: Silver, $amount: 20);
    }
}
