.todo-header {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border: 1px solid Silver;
    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
