li {
    list-style-type: none;
    margin: 0 auto;
}
.todo-list__item {
    display: inline-flex;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    border: 1px solid Silver;
    align-items: center;
}
.todo-list__item__task {
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    padding: 0px 5px;
    flex: auto;
    display: inline-flex;
    label {
        display: inline-flex;
        flex: auto;
        form {
            display: block;
            flex: auto;
            input[type='text'] {
                border-radius: 0;
                border-width: 0px;
                outline: none !important;
                padding: 2px;
                width: 100%;
                cursor: default;
            }
            input[type='text']:focus {
                border-bottom-width: 1px;
                cursor: text;
            }
            input[type='text']:disabled {
                background-color: white;
            }
        }
    }
}

.todo-list__item__btn-panel {
    padding: 0;
    vertical-align: middle;
    margin: 0;
    display: inline-flex;
    align-items: center;
}
